@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: light;
  }

  background-color: var(--light-background-color);
}

body {
  height: calc(100vh - var(--navbar-height));
  width: 100vw;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  margin-top: var(--navbar-height);
}

:root {
  --light-background-color: #f5f1ea;
  --light-font-color: #202c2e;
  --light-secondary-color: #798478;
  --light-secondary-color-selected: #a6b8a4;
  --light-secondary-font-color: #f5f1ea;
  --font-sans: "Inter", sans-serif;
  --navbar-height: 56px;
}
