/* NavBar.module.css */

.navbar {
  background-color: var(--light-secondary-color);
  color: var(--light-secondary-font-color);
  padding: 16px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  /* height: var(--navbar-height); */
}

.navContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinksContainer {
  display: flex;
  gap: 1rem;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

/* Mobile menu toggle */
.menuButton {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

/* Active link style */
.isActive {
  font-weight: bold;
  border-bottom: 2px solid var(--secondary-color);
}

@media (max-width: 768px) {
  .navLinksContainer {
    display: none; /* hide links on mobile by default */
    flex-direction: column;
    background-color: var(--light-secondary-color);
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 45vw;
    z-index: 3;
    gap: 0;
  }

  .navLinksContainer.open {
    display: flex;
  }

  .navLinksContainer > a {
    padding-left: 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
  }

  .menuButton {
    display: block;
  }

  .isActive {
    background-color: var(--light-secondary-color-selected);
  }
}
